<app-nav-menu />
<div class="flex align-items-center justify-content-center v-full min-h-full">
    <div class="surface-card p-4 shadow-2 border-round w-full lg:w-6 ">
        <div class="text-center mb-5">
            <i class="pi pi-credit-card m-2" style="font-size: 2.5rem"></i>
            <div class="text-900 text-3xl font-medium mb-3">Cadastrar nova conta</div>
            <span class="text-600 font-medium line-height-3">Complete o formulário abaixo!</span>
        </div>

        <div>
            <form [formGroup]="formCadastroConta" (ngSubmit)="cadastrarConta()">
                <label for="nomeConta" class="block text-900 font-medium mb-2">Nome da Conta</label>
                <input id="nomeConta" type="text" formControlName="nomeConta" placeholder="Nome da Conta" pInputText
                    class="w-full mb-3">

                <div *ngIf="formCadastroConta.get('nomeConta')?.invalid && (formCadastroConta.get('nomeConta')?.dirty || formCadastroConta.get('nomeConta')?.touched)"
                    class="text-red-900 mb-4">
                    Campo obrigatório. Digite o nome da conta!
                </div>


                <label for="tipoConta" class="block text-900 font-medium mb-2">Tipo da Conta</label>
                <input id="tipoConta" type="text" placeholder="Tipo da Conta" formControlName="tipoConta" pInputText
                    class="w-full mb-3">

                <div *ngIf="formCadastroConta.get('tipoConta')?.invalid && (formCadastroConta.get('tipoConta')?.dirty || formCadastroConta.get('tipoConta')?.touched)"
                    class="text-red-900 mb-4">
                    Campo obrigatório. Digite o tipo da conta!
                </div>

                <button pButton pRipple label="Cadastrar" icon="pi pi-plus" type="submit"
                    class="w-full"></button>
            </form>
        </div>
    </div>
</div>