<app-nav-menu />
<div class="flex align-items-center justify-content-center v-full min-h-full">
    <div class="surface-card p-4 shadow-2 border-round w-full lg:w-6 ">
        <div class="text-center mb-5 mt-10">
            <div class="surface-card p-4 shadow-2 border-round">
                <div class="text-3xl font-medium text-900 mb-3">{{conta[0].get('nome')}}</div>
                <div class="font-medium text-500 mb-3">Informações da conta: </div>
                <div style="height: 150px" class="border-2 border-dashed surface-border">
                    <div>
                        <p class="font-medium">ID: {{conta[0].id}}</p>
                        <p class="font-medium">Nome da Conta: {{conta[0].get('nome')}}</p>
                        <p class="font-medium">Tipo Da Conta: {{conta[0].get('tipoDeConta')}}</p>
                    </div>
                </div>
            </div>
            <i class="pi pi-credit-card m-2" style="font-size: 2.5rem"></i>
            <div class="text-900 text-3xl font-medium mb-3">Cadastrar nova transação</div>
            <span class="text-600 font-medium line-height-3">Complete o formulário abaixo!</span>
        </div>

        <div>
            <form [formGroup]="formCadastroTransacao" (ngSubmit)="cadastroTransacao()">
                <label for="valorTransacao" class="block text-900 font-medium mb-2">Valor</label>
                <input id="valorTransacao" type="number" formControlName="valorTransacao"
                    placeholder="Valor da transação" pInputText class="w-full mb-3">

                    <div *ngIf="formCadastroTransacao.get('valorTransacao')?.invalid && (formCadastroTransacao.get('valorTransacao')?.dirty || formCadastroTransacao.get('valorTransacao')?.touched)"
                    class="text-red-900 mb-4">
                    Campo obrigatório. Digite o valor da transação!
                </div>

                <label for="categoriaTransacao" class="block text-900 font-medium mb-2">Categoria</label>
                <p-dropdown formControlName="categoriaTransacao" [options]="categoriasTransacaoEnum" optionLabel="name"
                    placeholder="Categoria" />

                <div *ngIf="formCadastroTransacao.get('categoriaTransacao')?.invalid && (formCadastroTransacao.get('categoriaTransacao')?.dirty || formCadastroTransacao.get('categoriaTransacao')?.touched)"
                    class="text-red-900 mb-4 mt-2">
                    Campo obrigatório. Escolha uma categoria!
                </div>

                <label for="dataTransacao" class="block text-900 font-medium mb-2 mt-2">Data</label>
                <p-calendar class="w-full mb-3" formControlName="dataTransacao" placeholder="Data" />
                <div *ngIf="formCadastroTransacao.get('dataTransacao')?.invalid && (formCadastroTransacao.get('dataTransacao')?.dirty || formCadastroTransacao.get('dataTransacao')?.touched)"
                    class="text-red-900 mb-4 mt-2">
                    Campo obrigatório. Escolha uma data!
                </div>

                <label for="descricaoTransacao" class="block text-900 font-medium mb-2 mt-3">Descrição</label>
                <input id="descricaoTransacao" type="text" placeholder="Descrição da Transação"
                    formControlName="descricaoTransacao" pInputText class="w-full mb-3">

                <button pButton pRipple label="Cadastrar" icon="pi pi-plus" type="submit" class="w-full"></button>
            </form>
        </div>
    </div>
</div>