<div class="login-page-main example-full-width">
    <div class="login-page-div">
        <h2>Seja bem-vindo!</h2>
        <br/><br/>
        <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>E-mail</mat-label>
            <input type="email" matInput placeholder="Digite seu e-mail...">
        </mat-form-field>
        <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Senha</mat-label>
            <input type="password" matInput placeholder="Digite sua senha...">
        </mat-form-field>
        <button mat-stroked-button color="green">Login</button> 
    </div>
    <div class="img">
        <h1>$olution.</h1>
        <h3>Gerencie seu dinheiro agora!</h3>
    </div>
    
</div>